.tags {
  @apply
  flex items-center
  ;

  .add_tag {
    width: 20%;
    @apply
    py-1.5
    ;
  }

  .tag_list {
    @apply
    flex flex-1
    ;
  }
}

.tag {
  @apply
  mx-2 px-2 py-1 inline-block
  rounded
  text-white
  ;
  background-color: #FA685D;

}

.score {
  @apply
  mb-4
  ;

  .title {
    font-size: .75rem;
    @apply
    my-2
    text-gray-300
    flex justify-center
    ;
  }

  .rate {
    @apply
    flex justify-center
    ;
  }
}

.button {
  @apply
  flex justify-center
  ;
}