@import "src/main";
.index {
  @apply
  relative text-white
  mb-2
  ;
}

.info-wrapper {
  @apply
  flex h-14
  ;

}

.img {
  @apply
  rounded-lg
  w-24 mr-5
  ;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.23);

  image {
    @apply
    w-full h-full
    ;
  }
}

.title {
  @apply
  text-xl;
}

.rank {
  @apply
  flex
  ;
  .rank-no, .rank-name {
    color: #9D5F00;
    @apply
    px-3 py-1
    flex justify-center items-center
    ;
  }

  .rank-no {
    @apply rounded-l;
    background: linear-gradient(to bottom right, #FFF4E4, #FFEFB4);
  }

  .rank-name {
    @apply rounded-r;
    background: linear-gradient(to bottom right, #FFD395, #FFC56E);

  }
}

.msg {
  @apply
  flex flex-col justify-between
  flex-1
  ;
}

.des {
  color: $card;
  font-size: .84rem;
}