.index {
  @apply
  relative
  mt-2
  bg-red-200
  ;



  .new-comment {
    position: sticky;
    top: 90%;
    left: 90%;
    z-index: 1;

    @apply
    flex justify-center items-center
    w-12 h-12
    rounded-full
    bg-blue-200
    ;
  }

  .item {
    @apply
    bg-white p-1 mb-2
    rounded
    ;

    .header {
      @apply
      flex items-center;

      .avatar {
        @apply
        w-8 h-8
        rounded-full
        overflow-hidden
        bg-red-200
        ;
      }

      .user-time {
        @apply
        flex items-center
        ;

        .name {
          @apply
          mx-2
          ;
        }

        .span {
          font-size: .8rem;
          color: #909399;
          @apply
          mr-1
          ;
        }
      }
    }

    .body {
      @apply
      my-2
      ;
    }

    .info {
      @apply
      flex justify-between
      ;

      .info-item {
        @apply
        flex
        ;

        .active {
          @apply
          text-red-400
          ;
        }
      }
    }
  }
}